* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

#beer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.beer-card{
    width: 25%;
    box-sizing: border-box;
    margin: 25px;
} 

.brewery-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}